<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194914393670-s60nd5cf6oqotrig1ot2itu4fietrcc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194914393670-s60nd5cf6oqotrig1ot2itu4fietrcc8</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_YUH5kUVqw6v-NawRMp5quTz8QF2r-o</string>
	<key>GCM_SENDER_ID</key>
	<string>194914393670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hjxsk.ios</string>
	<key>PROJECT_ID</key>
	<string>hjxsk-hku</string>
	<key>STORAGE_BUCKET</key>
	<string>hjxsk-hku.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:194914393670:ios:5f645123d515ca943ab447</string>
</dict>
</plist>
